
*.pyc
*.pyc
.venv/pyvenv.cfg
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
__pycache__/__init__.cpython-39.pyc
__pycache__/app.cpython-39.pyc
__pycache__/auth.cpython-39.pyc
__pycache__/email.cpython-39.pyc
__pycache__/forms.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/models.cpython-39.pyc
__pycache__/run.cpython-39.pyc
__pycache__/views.cpython-39.pyc
