{% block content %}    
<!-- Main content -->
     <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <!-- form start -->
                <form action="" method="post" role="form" id="incenForm">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-2">                         
                          <label for="incenImporte">Importe (€)</label>                         
                        </div>
                        <div class="col-4">    
                          <input id="incenImporte" type="text" name="incenImporte" class="form-control" />
                        </div> 
                        <div class="col-6">   &nbsp;  </div>                               
                     </div>
                     
                    <div class="card-footer">
                       <button type="submit" id="crearIncentivo" class="btn btn-primary float-right d-none d-sm-inline-block">Crear</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>
  
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Incentivos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="listadoAgr" class="table table-bordered table-hover">
              <thead>
              <tr>
               
                <th>Importe<br/>(Euros)</th>               
                <th>Editar</th>
                <th>Eliminar</th>           
              </tr>
              </thead>
              <tbody>
              {% for inc in incentivos %}
              <tr>
              
                <td>                  
                  <input type="text" class="form-control" id="incenImp{{ inc.id }}" name="incenImp"  value="{{ inc.importe }}" />
                <td>
                  <div class="divEditarUsuario">
                    <input type='button' name='editarIncen' id='{{ inc.id }}'  class='btn btn-outline-primary' value='Editar'/> 
                    <br/><div  id='edicionMsgInc{{ inc.id }}' ><p></p></div>
                  </div>
                </td>
                <td>
                  <div class="divBorrarUsuario">
                    <input type='button' name='borrarIncen' id='{{ inc.id }}'  class='btn btn-outline-danger' value='Eliminar'/> 
                  </div>
              </td>                
              </tr>
              {% endfor %}
              </tbody>
              <tfoot>
             
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock content %}