{% block content %}    
<!-- Main content -->
     <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <!-- form start -->
                 <div class="card-body">
                    <div class="form-group">
                      <iframe frameborder=0 width="1550" height="600" src="https://bi.ecoceutics.com:8443/open-view/37390/cca4b3056538bbb1f0f3904ea462a35a"></iframe>
                    </div>                   
                  </div>
                  <!-- /.card-body -->  
                  <div class="card-footer">
                  
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}